@model IEnumerable<TeleCallingApp.Models.CustomerDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustPincode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOnUTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdateOnUTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdateBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustPincode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOnUTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdateOnUTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdateBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerDetailId })
        </td>
    </tr>
}

</table>
