@model TeleCallingApp.Models.DailyCallDetail

@{
    ViewBag.Title = "AddCallDetail";
}

<h2>AddCallDetail</h2>


@using (Html.BeginForm("AddCallDetail")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>DailyCallDetail</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CallDate, "Call Date", htmlAttributes: new { @class = "control-label col-md-2", @type = "date" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CallDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.CallDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CallTime, "Call Time", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CallTime, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
            @Html.ValidationMessageFor(model => model.CallTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CustomerDetailId, "Customer Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CustomerDetailId, Model.customers, "Select", htmlAttributes: new { @class = "form-control col-md-6" })
            <span class="col-md-4">
                @Html.ActionLink("Add New Customer", "Create", "Customer")
            </span >
            @Html.ValidationMessageFor(model => model.CustomerDetailId, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.CallDuration, "Customer Duration", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CallDuration, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CallDuration, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CallRemark, "Call Remark", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CallRemark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CallRemark, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WhatsAppRemark, "WhatsApp Remark", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WhatsAppRemark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WhatsAppRemark, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SMSRemark, "SMS Remark", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SMSRemark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SMSRemark, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailRemark, "Email Remark", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmailRemark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmailRemark, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CallingStatus, "Calling Status", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CallStatusID, Model.statuses, "Select", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CallingStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
